MONGO_URL=
JWT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://frontend-one-omega-14.vercel.app
SOCKET_CORS_ALLOWED_ORIGINS=http://localhost:5173,https://frontend-one-omega-14.vercel.app,https://frontend-git-main-vaibhavkushle-coders-projects.vercel.app
